{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PIKOM LEAD 2025</title>

  <link rel="stylesheet" href="{% static 'register/lead2025/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'register/lead2025/css/style.css' %}">

  <style>
    .big-checkbox {
    width: 28px;
    height: 28px;
    cursor: pointer;
    border: 2px solid #fd0000;
}

.big-checkbox:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
    box-shadow: 0 0 6px #0d6efd;
}

   
  </style>


</head>

<body>

  <div class="container-xl py-5">

   
    <div class="mb-4 shadow-lg rounded overflow-hidden">
      <img src="{% static 'register/lead2025/images/pikom-1.png' %}" class="img-fluid w-100" alt="PIKOM Conference Banner">
    </div>

  
    <div class="alert bg-white shadow-sm p-4 rounded mb-4">
      <h4 class="fw-bold mb-3 text-primary">PIKOM LEAD 2025</h4>
      <ul class="list-unstyled mb-4">
        <li><strong>Date:</strong> 25 November 2025 (Tuesday)</li>
        <li><strong>Time:</strong> 8:30 AM - 6:00 PM</li>
        <li><strong>Venue:</strong> M World Hotel, PJ</li>
      </ul>

      <p class="mb-1"><strong>PIKOM Members / CIO / Chapters:</strong> Complimentary seats (limited to 2 per company)</p>
      <p><strong>Non-PIKOM Members & Others:</strong> RM499 per person</p>
      <p class="fst-italic text-secondary">* Pre-registration is required.</p>
    </div>

  
    {% include 'register/admission/lead2025_entryform.html' %}

    <div class="text-center mt-4" style="font-size:.78rem; color:#9aa3ad; letter-spacing:.02em;">
      Powered by <span style="font-weight:600; color:#8a93a0;">Talbotiq Technologies</span>
    </div>
  </div>

  <script src="{% static 'register/js/jquery-3.7.1.min.js' %}"></script> 
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        let currentURL = window.location.href;
        //remove the last '/' if exist
        if (currentURL.endsWith("/")) {
            currentURL = currentURL.slice(0, -1);
        }
        const campaign = currentURL.substring(currentURL.lastIndexOf("/") + 1);
        document.getElementById("campaignID").value = campaign;
    });


    document.addEventListener("DOMContentLoaded", function () {
        const consentCheckbox = document.getElementById("consent");
        const submitBtn = document.getElementById("submitBtn");

        if (!consentCheckbox || !submitBtn) {
            console.error("consent or submitBtn not found in DOM");
            return;
        }

        submitBtn.disabled = true;

        consentCheckbox.addEventListener("change", function (e) {
            submitBtn.disabled = !e.target.checked;
        });
    });




    $('form').submit(function(e) {
          e.preventDefault();
          toggleSaveBtnLoading(true);

          //check required by checking the form
          if (!this.checkValidity()) {
              this.classList.add('was-validated');
              toggleSaveBtnLoading(false);
              return;
          } 

         
          $.ajax({
              type: 'POST',
              url: '{% url "save_submission" %}',
              headers: {
                  'X-CSRFToken': getCSRFToken()
              },
              contentType: 'application/json',
              data: JSON.stringify({
                  keyword: $('#campaignID').val(),
                  name: $('#name').val(),
                  organization: $('#company').val(),
                  designation: $('#designation').val(),
                  phone: $('#phone').val(),
                  email: $('#email').val(),
                  is_member: $('#category').val() =='PIKOM Member' ? 'Yes' : 'No',
                  category: $('#category').val(),
                  promo_code: $('#promoCode').val(),     
                  consent: $('#consent').is(':checked') ? 'Yes' : 'No',          
              }),
              success: function (response) {
              if (response.success) {
                  window.location.href = `/submission_thankyou/${response.reg_no}/`;
              }
              else {
                if(response.code == '1'){
                    alert('Sorry! Registration is closed.');
                    window.location.reload();
                }
                else
                {
                    alert('An error occurred during submission! Please contact the administrator. Note: ' + response.message);
                }
                   
              }
              
              },
              error: function () {
                  alert('An error occurred during submission.Please contact the administrator.');
              },
              complete: function () {
                  toggleSaveBtnLoading(false);
              }
          });
      });

      function getCSRFToken() {
        let name = 'csrftoken';
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
      function toggleSaveBtnLoading(isLoading) {
          // const saveBtn = $('#saveBtn');
          // if (isLoading) {
          //     saveBtn.prop('disabled', true);
          //     saveBtn.html('<i class="fa fa-spinner fa-spin"></i> Saving...');
          // } else {
          //     saveBtn.prop('disabled', false);
          //     saveBtn.html('Save');
          // }

            if (isLoading) {
                $('#submitBtnText').addClass('d-none');
                $('#submitBtnLoader').removeClass('d-none');
            } else {
                $('#submitBtnText').removeClass('d-none');
                $('#submitBtnLoader').addClass('d-none');
            }
      }
  
    </script>

</body>
</html>
