{% extends 'register/base.html' %}
{% load static %}

{% block content %}
 <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
   
    <div class="container-fluid py-2">
      <div class="row">
        <div class="col-12">
          <div class="ms-3">
            <h3 class="mb-0 h4 font-weight-bolder opacity-7"><i class="ti ti-list"></i>
            PIKOM Golf Invitational & Charity Drive 2025 - Registration</h3>
        
            <nav aria-label="breadcrumb m-0">
              <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Campaigns</a></li>
                <li class="breadcrumb-item text-sm text-dark active" aria-current="page">PIKOM Golf Invitational & Charity Drive 2025 - Registration</li>
              </ol>
            </nav>
          </div>
        </div>

        <div class="col-12">
          <div class="card my-4">

            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table id="entries" class="table table-hover align-items-center mb-0" style="font-size: 12px;">
                  <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-sm font-weight-bolder">Reg. No.</th>
                        <th class="text-uppercase text-secondary text-sm font-weight-bolder">Name</th>
                        <th class="text-uppercase text-secondary text-sm font-weight-bolder">Email</th>
                        <th class="text-uppercase text-secondary text-sm font-weight-bolder">Phone</th>
                        <!-- <th class="text-uppercase text-secondary text-sm font-weight-bolder">Designation</th> -->
                        <th class="text-uppercase text-secondary text-sm font-weight-bolder ">Organization</th>
                        <th class="text-uppercase text-secondary text-sm font-weight-bolder">HandiCap</th>
                        <th class="text-uppercase text-secondary text-sm font-weight-bolder">Shirt Size</th>
                        <th class="text-uppercase text-secondary text-sm font-weight-bolder">Registartion Date</th>
                    </tr>
                  </thead>
                  <tbody id="registration-body">
                    <!-- Filled via JavaScript -->
                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

  <script>
    $(document).ready(function () {
  new DataTable('#entries', {
    responsive: false,
    paging: true,
    processing: true,
    lengthChange: true,
    searching: true,
    pageLength: 10,
    colReorder: true,
    ajax: {
      url: '/get_registration_list',
      type: 'GET',
      dataSrc: ''
    },
    columns: [
      { data: 'reg_no' },
      { data: 'name' },
      { data: 'email' },
      { data: 'phone' },
    //   { data: 'designation' },
      { data: 'organization' },
      { data: 'handicap' },
      { data: 'shirt_size' },
      { data: 'registration_date' }
    ],
    dom:
      "<'row mb-3'<'col-sm-6 text-start px-2'f><'col-sm-6 text-end px-2'B>>" +
      "<'row'<'col-12'tr>>" +
      "<'row'<'col-sm-6'i><'col-sm-6'p>>",
    buttons: [
      {
        extend: 'excel',
        className: 'btn btn-outline-success btn-sm', 
        text: '<i class="material-symbols-rounded">download</i> Export to Excel',           
        filename: 'registration_list',
        title: 'Registration List', 
      },
        {
            text: 'Send QR',
             className: 'btn btn-outline-success btn-sm', 
            action: function (e, dt, node, config) {
                $.ajax({
                    url: "/send_qr",
                    cache: false,
                    success: function(response) {
                    }, error: commonAjaxErrorCallBack
                });
            }
        }
    ],
    fixedHeader: {
      header: true,
      footer: true,
      headerOffset: 50
    },
    autoWidth: true,
    scrollCollapse: true,
    language: {
      paginate: {
        previous: '<i class="material-symbols-rounded">chevron_left</i>',
        next: '<i class="material-symbols-rounded">chevron_right</i>'
      },
      searchBuilder: {
        button: 'Add filters',
        add: '<i class="material-symbols-rounded">add</i>Add filters',
        title: {
          0: 'Filters',
          _: 'Filters (%d)'
        },
        delete: '<i class="material-symbols-rounded">delete</i>',
        right: '<i class="material-symbols-rounded">chevron_right</i>',
        left: '<i class="material-symbols-rounded">chevron_left</i>',
        clearAll: '<i class="material-symbols-rounded">x</i>Clear All'
      },
      emptyTable:
        "<img src='{% static 'user/img/illustrations/notfoundImg3.png' %}' width='180px' alt='No data' /><p class='fs-5 fw-500'>No Record available in table</p>",
      infoEmpty: "0 Record",
      zeroRecords:
        "<img src='{% static 'user/img/illustrations/notfoundImg3.png' %}' width='180px' alt='No data' /><p class='fs-5 fw-500'>No Record to display</p>"
    },
    order: [[0, 'desc']],
    initComplete: function () {
      console.log('DataTable initialized and loaded via AJAX');
    }
  });
});

    
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
    function commonAjaxErrorCallBack(jqXHR, ajaxOptions, thrownError) {
    if (jqXHR.responseJSON?.error_message || jqXHR.responseJSON?.message) {
        let message = jqXHR.responseJSON.error_message || jqXHR.responseJSON.message
        let errorTitle = jqXHR.responseJSON.error_title || "Contact Support"
        //AlertButton("Error", message);
        Swal.fire({
            title: errorTitle,
            text: message,
            icon: "error",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "OK"
        });

    } else {
        AlertButton("Error", `Something went wrong ${jqXHR.status}, ${thrownError}, Please contact Admin`);
    }
}
  </script>
{%endblock %}

