{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{name}} Registration</title>
  <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/style.css' %}">

  <script src="https://unpkg.com/html5-qrcode"></script>
  <style>
    #reader {
      width: 300px;
      height: 300px;
      aspect-ratio: 1/1;
      margin-inline: auto;
      margin-bottom: 2rem;
      border-radius: .75rem;
      overflow: hidden;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
      >video{
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    }

  </style>
</head>
<body class="bg-body-tertiary">

  <div class="container-xl py-5">
    <div class="row mt-3">
      <div class="col-xl-6 col-lg-12 mx-auto ">
        <h1 class="mb-3 text-center">{{name}}</h1>

        <div id="reader" class="ratio ratio-1x1" style=" background-color: aquamarine;"></div>

        <div class="card card-body p-4 rounded-4 mb-3" id="result">
          <h5 id="name"></h5>
          <p id="message"></p>
          <!-- <ul>
            <li><span>also can shw list</span></li>
            <li><span>also can shw list</span></li>
            <li><span>also can shw list</span></li>
            <li><span>also can shw list</span></li>
            <li><span>also can shw list</span></li>
            <li><span>also can shw list</span></li>
          </ul> -->
        </div>
        <div class="">
          <div class="nb-3">
            <label for="remark" class="form-label">Remark (Optional)</label>
            <textarea name="remark" id="remark" class="form-control" placeholder="" rows="5"></textarea>
          </div>
          <!-- <button class="btn btn-primary btn-lg mt-3" onclick="window.location.reload();">Action text</button> -->
        </div>
      </div>
    </div>
  </div>

    <script src="{% static 'user/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'user/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        function onScanSuccess(decodedText, decodedResult) {
            fetch(`/validate/${decodedText}`)
                .then(response => response.json())
                .then(data => {

                    document.getElementById("message").innerText = data.message;

                    if (data.participant && data.participant.name) {
                        document.getElementById("name").innerText = data.participant.name;
                    }

                    if (data.remarks) {
                        document.getElementById("remark").innerText = data.remarks;
                    }
                });
        }

        const html5QrCode = new Html5Qrcode("reader");
        html5QrCode.start({ facingMode: "environment" }, {
            fps: 10,
            qrbox: 350
        }, onScanSuccess);
    </script>
</body>
</html>